body {
  background-color: whitesmoke;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #1d3557;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #e63946;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #e63946;
    color: whitesmoke;
  }

img { 
    max-width: 200%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* this is all of my heading 1 */
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #e63946;
    text-align: center;
}

/* this is all of my heading 3 */
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    color: #1d3557;
    text-align: left;
    line-height: 25px;
    margin-left: 20vw;
    margin-right: 20vw;
    
}

/* this is all of my heading 3 */
div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 200;
}
