body {
  background-color: whitesmoke;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #1d3557;
    overflow: hidden;
    margin-bottom: 1vw;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #e63946;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #e63946;
    color: whitesmoke;
  }

img { 
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* this is all of my heading 1 */
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #e63946;
    text-align: center;
}

.column {
  flex: 50%;
  display: inline-block;
  margin-left: 10vw;
  margin-left: 10vw;
  margin-bottom: 3vw;
}

.column img{
  width: 100px;
  height: 100px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #1d3557;
  padding: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1d3557;
  color: whitesmoke;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer p {
  color: whitesmoke;
  word-spacing: 0.5cm;
}

.footer-column {
  margin-top: 10px;
  margin-bottom: 10px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: whitesmoke;
}


* {
  margin:0;
  padding:0;
  }


/* this is all of my heading 3 */
div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: 200;
}