body {
    background-color: #1d3557;
  }

/* Add a black background color to the top navigation 
.topnav {
    background-color: #1d3557;
    height: auto;
    width: auto;
    overflow: hidden;
  }
*/

.column {
    flex: 50%;
    display: inline-block;
    margin-left: 30vw;
    margin-left: 10vw;
}

.column img{
    width: 40%;
    height: auto;

  }
  
.columnn a {
    color: whitesmoke;
    padding: 0px 5px;
}

.column a:hover {
    background-color: whitesmoke;
    color: black;
}
  
  /* Style the links inside the navigation bar 
  .topnav a {
    color: #f1faee;
    padding: 0px 5px;
  }
  
  /* Change the color of links on hover 
  .topnav a:hover {
    background-color: #f1faee;
    color: black;
  }
  
  .topnav img { 
  width: 45%;
  height: auto;
  
}

.center {
  width: 45%;
}
*/

/* this is all of my heading 1 */
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #e63946;
    text-align: center;
}





